# This is a sample Email OAuth 2.0 Proxy configuration file.
# Configure the proxy by adding items in the servers and accounts sections below.
# Examples are given for Gmail and Office 365 (though you will need to enter your own credentials)


# Servers are specified as follows, where, for exammple, the name [IMAP-1993] gives the 
# type (which can be IMAP or SMTP) and the local port to listen on (i.e., 1993 here).
# The local port number must be 1023 (unless you run via sudo), and ports must be unique.
# SMTP servers are assumed to use the STARTTLS protocol, which will be added by the proxy.
# You should configure your client to use an unencrypted connection.
# If the property 'local_address' is not specified, its value is assumed to be 'localhost'
[IMAP-1993]
local_address = localhost
server_address = outlook.office365.com
server_port = 993

[IMAP-1995]
server_address = imap.gmail.com
server_port = 993

[SMTP-1587]
server_address = smtp.office365.com
server_port = 587

[SMTP-1589]
server_address = smtp.gmail.com
server_port = 587


# Accounts are specified with your email address as the key (e.g., [your.office365.address@example.com], below).
# The examples below are for Office 365 and Gmail, but you will need to add your own client_id and client_secret.
# For Office 365 there is also a tenant identifier - if your configuration needs this parameter, place it in the
# permission_url and token_url in place of 'common' in the example below. For more details, see the links and
# doucumentation at https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app.
# After the first time logging in to your account, the access token details will be cached here, but are
# encrypted with the password you use in your email client.
[your.office365.address@example.com]
permission_url = https://login.microsoftonline.com/common/oauth2/v2.0/authorize
token_url = https://login.microsoftonline.com/common/oauth2/v2.0/token
oauth2_scope = https://outlook.office365.com/IMAP.AccessAsUser.All https://outlook.office365.com/SMTP.Send offline_access
redirect_uri = http://localhost
client_id = *** your client id here ***
client_secret = *** your client secret here ***

[your.email@gmail.com]
permission_url = https://accounts.google.com/o/oauth2/auth
token_url = https://accounts.google.com/o/oauth2/token
oauth2_scope = https://mail.google.com/
redirect_uri = http://localhost
client_id = *** your client id here ***
client_secret = *** your client secret here ***
