# This is a sample Email OAuth 2.0 Proxy configuration file.
# Configure the proxy by adding items in the servers and accounts sections below.
# Examples are given for Gmail and Office 365 (though you will need to enter your own desktop app API client 
# credentials in the accounts section)


# Local servers are specified as follows where, for example, the heading [IMAP-1993] gives the type (which can 
# be IMAP or SMTP) and the local port to listen on (i.e., 1993 here). The local port number must be above 1023
# (unless run via sudo), below 65536, and unique across local servers. Multiple accounts can share the same server.
# A SSL connection to the remote server is assumed by default. If your SMTP server uses the STARTTLS protocol, add
# starttls = True, as shown in the example, and this will be handled by the proxy (assumed to be False otherwise).
# You should configure your client to use an unencrypted connection for both SMTP and IMAP.
# If the property 'local_address' is not specified, its value is assumed to be 'localhost'

[IMAP-1993]
local_address = localhost
server_address = outlook.office365.com
server_port = 993

[SMTP-1587]
server_address = smtp.office365.com
server_port = 587
starttls = True

[IMAP-1995]
server_address = imap.gmail.com
server_port = 993

[SMTP-1465]
server_address = smtp.gmail.com
server_port = 465


# Accounts are specified with your email address as the heading (e.g., [your.office365.address@example.com], below).
# Account names (i.e., email addresses) must be unique – only one entry is permitted per account in this file.
# The examples given will work for Office 365 and Gmail, but you will need to add your own client_id and client_secret.
# See https://developers.google.com/identity/protocols/oauth2/native-app and the Microsoft link below for details.
# Multiple accounts on the same server can use the same client_id/client_secret; just duplicate these in each account.
# For Office 365 there is also an optional tenant identifier - if your configuration needs this parameter, place it
# in permission_url and token_url in place of 'common' in the example below. For more details about this, see the links
# and documentation at https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app.
# After the first time logging in to your account, the access token details will be cached in this configuration file,
# encrypted with the password you use in your email client. The password given in your email client is not used
# for authentication (which is done separately via a web browser), so can be different to your real account password.
# See this repository's readme for more information: https://github.com/simonrob/email-oauth2-proxy/blob/main/README.md

[your.office365.address@example.com]
permission_url = https://login.microsoftonline.com/common/oauth2/v2.0/authorize
token_url = https://login.microsoftonline.com/common/oauth2/v2.0/token
oauth2_scope = https://outlook.office365.com/IMAP.AccessAsUser.All https://outlook.office365.com/SMTP.Send offline_access
redirect_uri = http://localhost
client_id = *** your client id here ***
client_secret = *** your client secret here ***

[your.email@gmail.com]
permission_url = https://accounts.google.com/o/oauth2/auth
token_url = https://oauth2.googleapis.com/token
oauth2_scope = https://mail.google.com/
redirect_uri = http://localhost
client_id = *** your client id here ***
client_secret = *** your client secret here ***
