# include core requirements (separated in order to support usage without GUI-only dependencies)
-r requirements-no-gui.txt

pillow  # to create the menu bar icon image from a TTF icon
setuptools  # for pkg_resources (checking dependency versions)
timeago  # for displaying the last authenticated activity hint

# force pystray version with dummy GUI fix for headless deployments (https://github.com/moses-palmer/pystray/issues/118)
pystray>=0.19.4

# force pywebview 4.0.2+ on Windows to fix PyInstaller/pythonw issue (https://github.com/r0x0r/pywebview/issues/1044)
pywebview; sys_platform != 'win32'  # (specify platform to avoid double requirement error with older pip versions)
pywebview>=4.0.2; sys_platform == 'win32'

# macOS: improve menu bar interaction, provide native notifications and handle system events
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration; sys_platform == 'darwin'
