# this file contains the proxy's core dependencies beyond inbuilt python packages
# note that to use the proxy with only these requirements you *must* pass the `--no-gui` option when starting - see the
# script's readme for further details

# 2.2 or later required for MultiFernet support
cryptography>=2.2

# provide the previously standard library module `asyncore`, removed in Python 3.12 (https://peps.python.org/pep-0594/)
pyasyncore; python_version >= '3.12'

# macOS only: output to unified logging
pyoslog>=0.3.0; sys_platform == 'darwin'

# required only if using the --external-auth option in --no-gui mode
prompt_toolkit

# required only if using JWT certificate credentials (O365)
pyjwt>=2.4
