# This file contains the additional dependencies required for caching OAuth 2.0 tokens remotely in AWS Secrets Manager
# (https://aws.amazon.com/secrets-manager/). Use the proxy's `--cache-store` parameter to provide either a full ARN or
# a secret name. When specifying a secret name, it must start with `aws_emailproxy@`.
#
# To use this feature you must also set up authentication credentials (including a region) for your AWS account:
# https://boto3.amazonaws.com/v1/documentation/api/latest/guide/quickstart.html#configuration
#
# The minimal required permissions for each AWS Secret used are:
#     "secretsmanager:GetSecretValue"
#     "secretsmanager:PutSecretValue"
#
# If the named AWS Secret does not yet exist, the "secretsmanager:CreateSecret" permission is also required
boto3

# include core proxy requirements (separated in order to support usage without AWS-only dependencies)
-r requirements-no-gui.txt
