configobj
cryptography
pillow
pystray
pywebview
timeago

# used to improve menu bar interaction, provide native notifications, handle system events and output to unified logging
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration; sys_platform == 'darwin'
pyoslog>=0.3.0; sys_platform == 'darwin'

# force pywebview 3.5+ on Windows to fix authentication window crash bug (https://github.com/r0x0r/pywebview/issues/720)
pywebview>=3.5; sys_platform == 'win32'
