CairoSVG
configobj
cryptography
Pillow
pystray
pywebview
setproctitle

# used only to hide the dock icon and improve the menu bar icon on macOS
PyObjC; sys_platform == 'darwin'
Foundation; sys_platform == 'darwin'
