# the standard way to install the proxy and dependencies is `python -m pip install emailproxy` (i.e., direct from PyPI)
# to install requirements directly, use: `python -m pip install -r requirements-core.txt -r requirements-gui.txt`

pillow  # to create the menu bar icon image from a TTF icon
setuptools  # for pkg_resources (checking dependency versions)
timeago  # for displaying the last authenticated activity hint

# force pystray version with dummy GUI fix for headless deployments (https://github.com/moses-palmer/pystray/issues/118)
pystray>=0.19.4

# force pywebview 4.2.1+ to fix Windows issue with PyInstaller/pythonw (https://github.com/r0x0r/pywebview/issues/1086)
# and a macOS pre-Mojave crash when opening browser windows (https://github.com/r0x0r/pywebview/pull/1047), plus a
# missing macOS dependency issue introduced in 4.1 (https://github.com/r0x0r/pywebview/pull/1154) - note that we could
# do, e.g., platform_release < '18' to allow Linux platforms more flexibility, but that seems over-the-top
pywebview>=4.2.1

# macOS: improve menu bar interaction, provide native notifications and handle system events
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration; sys_platform == 'darwin'
