# This file contains the requirements to store OAuth 2.0 tokens remotely in
# [AWS Secrets Manager](https://aws.amazon.com/secrets-manager/), rather than
# storing them in the local configuration file.
# 
# - This will only be applied to accounts which have an `aws_secret` parameter
#   configured in the local configuration file, containing the ARN or name of
#   the secret.
#
# - To use AWS Secrets Manager you must also set up authentication credentials for your AWS account:
#   https://boto3.amazonaws.com/v1/documentation/api/latest/guide/quickstart.html#configuration
#
#     - The minimal required permissions for each AWS Secret used are:
#         "secretsmanager:GetSecretValue"
#         "secretsmanager:PutSecretValue"
#
#     - If an AWS Secret does not yet exist, the following permissions are also required:
#         "secretsmanager:CreateSecret"

boto3

# include core requirements (separated in order to support usage without GUI-only dependencies)
-r requirements-no-gui.txt
