# this file contains the requirements to store OAuth 2.0 tokens remotely in AWS Secrets Manager.
# these are only necessary when specifying the '--aws-secrets' argument.

# include core requirements (separated in order to support usage without GUI-only dependencies)
-r requirements-no-gui.txt

# Note that to use AWS Secrets Manager you must also set up authentication credentials for your AWS account:
# https://boto3.amazonaws.com/v1/documentation/api/latest/guide/quickstart.html#configuration
#
# The minimal required permissions for each AWS Secret used are:
#   "secretsmanager:GetSecretValue"
#   "secretsmanager:PutSecretValue"
#
# If an AWS Secret does not yet exist, the following permissions are also required:
#   "secretsmanager:CreateSecret"
boto3
